@import 'common/styles/_template.scss';

.filterContainer {
  min-width: 250px;
  height: 350px;
  padding: 30px 20px 20px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.1);
  align-items: flex-start;
  background-color: white;
  margin-bottom: 15px;
  @media (max-width: 1000px) {
    padding-top: 10px 5px 5px;
    flex-direction: row;
    margin-right: 0;
    justify-content: center;
    height: 80px;
  }
}

.filter {
  @extend %accountSidebarBtn;
}

.activeFilter {
  @extend %accountSidebarBtnPressed;
}

.transactionHistoryBtn {
  @extend %linkReset;
  @extend %accountSidebarBtn;
}
